pandas
SQLAlchemy
secure-smtplib
email-to
matplotlib
data-diff
openmetadata-ingestion==1.5.6
scikit-learn
cloudscraper
gspread
gspread-dataframe
openpyxl
boto3
duckdb
minio
pyarrow
apache-airflow-providers-postgres
